/*Fonts*/
	@import url('https://fonts.googleapis.com/css?family=Abel|Anton|Cabin|Lato|Roboto');
/*General style setup*/
	body {
		background-color: #000;
				
	}
	body section {
		background-color: black;
		padding: 0;
		font-family: 'Roboto', sans-serif;
	}
/*General navigation bar setup*/
	nav{
		width: 100%;
		background-color: black;
		text-align: right;
	}
	ul {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	ul li {
		list-style: none;
		display: inline-block;
		padding: 15px;
	}
/*Button selection*/
	ul li a {
		color: white;
		text-decoration: none;
	}
	ul li a:link {
		color: white;
		text-decoration: none;
	}
	ul li a:visited {
		color: white;
		text-decoration: none;
	}
	ul li a:hover {
		color: white;
	}
	ul li a:active {
		text-decoration: none;
		color: white;
	}
/*Button font*/
	.home .portfolio .experience {
		font-family: 'Roboto', sans-serif;
		font-size: .85em;
	}
	.sub-portfolio {
		font-family: 'Roboto', sans-serif;
		font-size: .75em;
	}
	.contact {
		font-family: 'Roboto', sans-serif;
		background-color: #f44336;
 		border: none;
 		color: white;
  		padding: 15px 32px;
 		text-align: center;
  		text-decoration: none;
 		display: inline-block;
 		font-size: 1em;
  		margin: 4px 2px;
  		cursor: pointer;
		}
/*Mobile devices Navigation bar Setup*/	
	.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
}
	.toggle {
		width: 100%;
		padding: 10px 20px;
		background-color: black;
/*Icon*/
		text-align: right;
		box-sizing: border-box;
		color: white; 
		font-size: 2em;
		display: none;
	}
/*Cards Setup*/
	.card-text {
		font-family: 'Roboto', sans-serif;
		color: #fff;
		font-size: 1em;
	}
	.text-muted {
		font-family: 'Roboto', sans-serif;
		color: #f44336; 
		font-size: .8em;
	}
/*Profile Image config*/
	.rounded-circle {
		max-width: 80%;
	}
/*contact config*/
	.text-justify {
		font-family: 'Roboto', sans-serif;
		color: #fff;
	}
/*Images Experience Setup*/
	.company-logo {
		float: left;
	}
/*Image COmapison*/
	@import "lesshat";
	.ba-slider {
	    position: relative;
	    overflow: hidden;
	}	 
	.ba-slider img {
	    width: 100%;
	    display:block;
	}	 
	.resize {
	    position: absolute;
	    top:0;
	    left: 0;
	    height: 100%;
	    width: 50%;
	    overflow: hidden;
	}
	.handle { /* Thin line seperator */
	  position:absolute; 
	  left:50%;
	  top:0;
	  bottom:0;
	  width:4px;
	  margin-left:-2px;
	 
	  background: rgba(0,0,0,.5);
	  cursor: ew-resize;
	}	 
	.handle:after {  /* Big orange knob  */
	    position: absolute;
	    top: 50%;
	    width: 64px;
	    height: 64px;
	    margin: -32px 0 0 -32px;
	 
	    content:'\21d4';
	    color:white;
	    font-weight:bold;
	    font-size:36px;
	    text-align:center;
	    line-height:64px;
	 
	    background: #f44336; /* @orange */
	    border:1px solid #f44336; /* darken(@orange, 5%) */
	    border-radius: 50%;
	    transition:all 0.3s ease;
	    box-shadow:
	      0 2px 6px rgba(0,0,0,.3), 
	      inset 0 2px 0 rgba(255,255,255,.5),
	      inset 0 60px 50px -30px #f44336; /* lighten(@orange, 20%)*/ 
	}
	.draggable:after {
	    width: 48px;
	    height: 48px;
	    margin: -24px 0 0 -24px;
	    line-height:48px;
	    font-size:30px;
	}
/*footer*/
	footer {
		background-color: black;
		font-family: 'Roboto', sans-serif;
		color: white;
		text-align: center;
		font-size: .5em;
		padding: 3%;
		width: 100%;
	}
/*Responsive*/
	@media (max-width: 576px) {
		.toggle {
			display: block;
		}
		ul {
		width: 100%;
		display: none;
		}
		ul li {
		display: block;
		text-align: right;
		}
		.active {
			display: block;
		}
	}